*{
    margin:0;
    padding:0;
} 
.applicationbody{
	display: flex;
    justify-content: center;
	color: #13253a;
    background-color: #04d2af; 
    height:calc(100vh - 30px);
    margin-top: 1%;
    border-radius: 10px;
    width:84%;
    margin-left: 15.5%;
}
.applicationform{
    width: 100%;
	background: whitesmoke;
	overflow: hidden;
	border-radius: 10px;
    margin-left: 10%;
    margin-top: 5%;
}
#applicationtitle{
	color: #04d2af;
	font-size: 2em;
	justify-content: center;
	font-weight: bold;
}

.applicationform input , .applicationform select{
	width: 80%;
	height: 30px;
	background: #f5f8f8;
    color: #13253a;
	border: 2px solid #13253a;
	border-radius: 5px;
	resize: vertical;
	margin-left:10%;
}
.applicationform input:hover ,select:hover{
	transition: ease-in 0.2s;
    border: 2px solid rgb(3, 3, 3);
}
.applicationform label, select{
	font-size: 15px;
    justify-content: left;
	display: flex;
    color: black;
    font-weight: bold;
	margin-left: 5%;
}
.row{
	display: inline-block;
}
.submitbutton{
    width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #13253a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;

}
.submitbutton:hover{
	transition: ease-in 0.2s;
    border: 4px solid #13253a;
	background: #ffffff;
	color: #13253a;
}
/* #coursetype{
    width: 61%;
	height: 30px;
	background: #f5f7f7;
	justify-content: center;
	display: flex;
	margin: 5px auto;
	padding: 0px;
	border: none;
	outline: none;
	border-radius: 5px;  
}

#coursetype:hover{
	transition: ease-in 0.2s;
    border: 2px solid rgb(3, 3, 3);
} */
.applicationimage{
	position: fixed;
	width: 400px;
	height: 200px;
	overflow: hidden;
	background-color: #f5f7f7;
    margin-left: -20%;
    margin-top: 15%;
	max-width: 100%;
}

@media screen and (max-width: 1200px) { 
	.applicationimage{ 
	 margin-left: 16%;
	 width: 250px;
	 height: auto;
	}
	.application{
		margin-top: 40%;
		position:sticky;
	}
  }